<h1>Cadastrar Funcionário</h1>

<form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">


<div class="input_box">
    <label>id:</label>
    <input type="text" formControlName="id" placeholder="id">
</div>
    
<div class="input_box">
    <label>Nome:</label>
    <input type="text" formControlName="nome" placeholder="Insira o nome!" required>
</div>

<div class="input_box">
    <label>Sobrenome:</label>
    <input type="text" formControlName="sobrenome" placeholder="Insira o Sobrenome" required>
</div>

<div class="input_box">
    <label>Departamento:</label>
    <select id="departamento" formControlName="departamento" required>
        <option value="RH">RH</option>
        <option value="Financeiro">Financeiro</option>
        <option value="Compras">Compras</option>
        <option value="Atendimento">Atendimento</option>
        <option value="Zeladoria">Zeladoria</option>
        <option value="Comercial">Comercial</option>
        <option value="TI">TI</option>
        <option value="Administrativo">Administrativo</option>
        <option value="Logistica">Logistica</option>
        <option value="Estoque">Estoque</option>
    </select>
</div>

<div class="input_box">
    <label>Turno:</label>
    <select id="turno" formControlName="turno" required>
        <option value="Manha">Manha</option>
        <option value="Tarde">Tarde</option>
        <option value="Noite">Noite</option>
        <option value="Integral">Integral</option>
        
    </select>
</div>

<div class = "btn-box"> 
    <button type="submit">Cadastrar</button>
    <button>Voltar</button>

</div>

</form>