<mat-card>
<h1>{{btnTitulo}}</h1>  <!--{{btnTitulo}} é um botão variavel que está configurado como @imput no cadastro.components.ts e cadastro.component.html-->

<form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">


<input type="hidden" formControlName="id">

    
<div class="input_box">
    <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput type="text" formControlName="nome" placeholder="Insira o nome!" required>
    </mat-form-field>
</div>

<div class="input_box">
    <mat-form-field>
        <mat-label>Sobrenome:</mat-label>
        <input matInput type="text" formControlName="sobrenome" placeholder="Insira o Sobrenome" required>
    </mat-form-field>
</div>


<div class="input_box">
    <mat-form-field>
        <mat-label for="">Departamento:</mat-label>
        <mat-select id="departamento" formControlName="departamento" required>
            <mat-option value="RH">RH</mat-option>
            <mat-option value="Financeiro">Financeiro</mat-option>
            <mat-option value="Compras">Compras</mat-option>
            <mat-option value="Atendimento">Atendimento</mat-option>
            <mat-option value="Zeladoria">Zeladoria</mat-option>
            <mat-option value="Comercial">Comercial</mat-option>
            <mat-option value="TI">TI</mat-option>
            <mat-option value="Administrativo">Administrativo</mat-option>
            <mat-option value="Logistica">Logistica</mat-option>
            <mat-option value="Estoque">Estoque</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="input_box">
    <mat-form-field>
        <mat-label for="">Turno:</mat-label>
        <mat-select id="turno" formControlName="turno" required>
            <mat-option value="Manha">Manha</mat-option>
            <mat-option value="Tarde">Tarde</mat-option>
            <mat-option value="Noite">Noite</mat-option>
            <mat-option value="Integral">Integral</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class = "btn-box"> 
    <button type="submit" [disabled]="!funcionarioForm.valid" mat-raised-button color="accent">{{btnAcao}}</button> <!--[disabled]="!funcionarioForm.valid"   Habilitar o botão de {{btnAcao}} somente se os campos obrigatorios estiverem preenchidos / {{btnAcao}} é um botão variavel que está configurado como @imput no cadastro.components.ts e cadastro.component.html-->
    <button routerLink="" mat-raised-button>Voltar</button>

</div>

</form>
</mat-card>


<!--
Vamos utilizar esse mesmo formulario na pagina de cadastrar funcionario e editar funcionario
note que vamos mudar o texto do formulario <h1>Cadastrar Funcionário</h1> para <h1>Editar Funcionário</h1> e no
botão de cadastrar vamos mudar para <button type="submit" [disabled]="!funcionarioForm.valid">Editar</button>
neste componente funcionario-form.componet podemos enviar dados para fora e também receber dados para dentro dele
vá até cadastro.component.html e veja como estamos enviando dados para dentro do componente funcionario-form.component.html como o [btnAcao]="btnAcao"
--> 


<!--O campo Id não precisa aparecer no formulario de cadastar novo funcionario pois ele será criado automaticamente pelo sistema conforme implementamos no metodo de AddFuncionario
mas para editar um funcionario ele precisara aparecer e vamos mandar essa informação para o banco de dados para fazer o update
porem ele não vai aparecer em tela por isso vamor usar o tipo "hidden"-->
