<mat-card>
<div *ngIf="funcionario">

    <h1>Deseja Excluir? O histórico será perdido!</h1>
    <div>
        <h2>Funcionário:</h2>
        <p>{{funcionario.nome}}  {{funcionario.sobrenome}}:</p>

        <h2>Departamento:</h2>
        <p>{{funcionario.departamento}}</p>

    </div>

    <div>        
        <button (click)="Excluir()" mat-raised-button color="warn">Confirmar Exclusão</button>
        <button (click)="Cancelar()" mat-raised-button>Cancelar</button>
    </div>

</div>
</mat-card>