
<div class="funcionario-box">

    <button routerLink="/cadastro">Cadastrar Novo Funcionário</button>
    <div class="input-box"> 
        <label>Procurar</label>
        <input type="text" placeholder="Qual Registro está buscando?" (input)="search($event)"> <!--criar a função dentro do homecomponent.ts-->
    </div>

</div>

<table class="table">

    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let funcionario of funcionarios"> <!--criando um for para percorrer a lista de funcionarios-->
        <tr>
            <td>
                <div *ngIf="funcionario.ativo == true; else inativo"> <!--se estiver ativo mostra o botao abaixo, caso contrario vamos colocar o elemento inativo no else e usar o ng-template-->
                    <img src="assets/images/Ativo.png" style="height: 20px; width: 20px"  alt="">
                </div>
                <ng-template #inativo>
                    <img src="assets/images/Inativo.png"  style="height: 20px; width: 20px" alt="">
                </ng-template>
                
            </td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.sobrenome}}</td>    
            <td>{{funcionario.departamento}}</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>